@import "index.css";

.title {
    font-size: 200px;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 5px black;
    border: 5px;
    border-color: black;
    text-align: center;
    margin: 100px auto;
}